@import 'normalize.styl'
@import 'fonts.styl'

body
	font-family: 'Open Sans', sans-serif;

.Avatar
	text-align center

.Avatar-image
	width 240px

.Contact-icon
	background #b7b7b7
	border 3px solid #b7b7b7
	border-radius 15px 0 0 15px
	color #fff
	font-size 1.5rem
	padding 12px 2px 14px 10px

.Contact-item
	list-style none
	margin 40px 0px

.Contact-link
	border 3px solid #b7b7b7
	border-radius 0 15px 15px 0px
	color #b7b7b7
	font-size 1.2rem
	padding 14px 10px 10px 3px
	text-decoration none

.Contact-list
	padding 0px
	font-size 0px

.Footer
	border-top 1px solid #b7b7b7
	margin 20px
	padding 5px

.Footer-text
	color #b7b7b7

.green-text
	color rgb(26,188,156)

.Header
	text-align center
	padding 240px 0px

.Header-description
	font-size 2em

.Header-title
	font-size 5em
	margin-bottom .1675em

.Introduction
	color #b7b7b7
	text-align center

.justify
	text-align justify

.Nav
	// background: rgba(238,238,238,0.7);
	background: rgba(0,0,0,0.7);
	left 0
	position fixed
	right 0
	text-align center
	top 0
	font-size 0px

.Nav-item
	display inline-block
	list-style none
	transition .3s
	&:hover
		background: rgba(0,0,0,1);

.Nav-link
	color white
	text-decoration none
	font-size 1rem
	padding 16px 10px
	display inline-block
	
.Nav-list
	margin 0px
	padding 0px

.Section
	padding 50px 1% 1% 50px

.Section-title
	text-align center
	font-size 3em
	margin-bottom 0px

.Skill-list
	border 5px solid rgb(26,188,156)
	padding 10px
	font-size 0px

.Skill-item
	background rgba(26,188,156,1)
	color white
	padding 5px 10px 5px 20px
	border-radius 8px
	transition .3s
	display inline-block
	list-style none
	font-size 1rem
	margin 2px
	&:hover
		padding 5px 20px 5px 10px
		background rgba(26,188,156,.7)
		color black

.Work-date
	text-align right
	margin .5em 0px
	font-size 1.8em

.Work-description
	text-align justify

.Work-item
	border-top 1px solid #d4d4d4
	margin 0px 25px
	text-align right
	&:nth-last-child(1)
		border-bottom 1px solid #d4d4d4

.Work-title
	font-weight normal
	font-size .9em
	margin 5px 0px

.Work-company
	font-size 1.2em
	margin 5px 0px

.Work-until
	&:before
		content " - "